body {
    background: #444;
    color: white;
    margin: 20px;
    font: 14px/1.2 Helvetica, sans-serif;
    overflow-y: scroll;
}
a {
    color: yellow;
}
img#doggy {
    margin-left: 10px;
    margin-bottom: 20px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}
h1, h2 {
    color: #00ff99;
    text-shadow: 3px 3px 8px #000;
    padding: 2px;
    margin: 10px 0px 0px 0px;
}
p {
    padding: 2px;
    margin: 5px 0px;
}
h1#updates {
    margin-top: 0;
    margin-bottom: 10px;
    max-width: 90%;
}
#languages {
    margin: 0px;
}
#languages a {
    font-size: 11px;
    display: inline-block;
    text-decoration: none;
    background: #000;
    color: #ff0;
    padding: 4px 6px;
    margin-bottom: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
#languages a:hover {
    text-decoration: underline;
}
#languages a.selected {
    background: #ff0;
    color: #000;
}
#intro {
    clear: both;
    margin-bottom: 5px;
}
#container {
    clear: both;
    position: relative;
    width: 100%;
    height: 400px;
    background: #333;
    border-left: 1px solid #444;
    border-top: 1px solid #444;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    box-shadow:inset 2px 2px 8px #222;
    -moz-box-shadow:inset 2px 2px 8px #222;
    -webkit-box-shadow:inset 2px 2px 8px #222;
}
#legend {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 400px;
}
#vis {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 400px;
}
#stop {
    position: absolute;
    right: 10px;
    top: 10px;
}
ul {
    list-style-type: none;
    margin: 5px 0px 30px 0px;
    padding: 0px;
}
li {
    padding: 0;
    margin: 10px 0px 10px 15px;
}
li a {
    font-weight: bold;
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
}
span.change {
    color: #8ff;
}
span.comment {
    color: #f8f;
}
span.time {
    color: #8f8;
}
span.user {
    color: #fa8;
}